.nav {
    display: flex;
    justify-content: center;
}

.navLink a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.795);
    margin-right: 15px;
}

.navLink a:hover {
    color: white
}

@media screen and (min-width: 992px) {
    .nav {
        justify-content: end;
    }
}

/* .navLink {
    margin-left: 650px;
} */