.quiz {
    margin: 50px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

@media screen and (max-width: 576px) {
    .quiz {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .quiz {
        grid-template-columns: repeat(2, 1fr);
    }
}